<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maibo.lys.xianhuicustomer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <application
        android:name=".myapplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/XianHuiCustomerTheme">
        <activity android:name=".myactivity.SplashActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.avos.avoscloud.PushService"/>
        <activity android:name=".myactivity.WelcomeGuideActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".myactivity.LoginActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".myactivity.MainActivity1"
            android:launchMode="singleTask"></activity>
        <activity android:name=".myactivity.OrderEvaluateActivity"></activity>
        <activity android:name=".myactivity.RegisterActivity"></activity>
        <activity android:name=".myactivity.BindAgentActivity"></activity>
        <activity android:name=".myactivity.ProjectDetailActivity"></activity>
        <activity android:name=".myactivity.PictureAndWordDetail"></activity>
        <activity android:name=".myactivity.LotteryWebActivity"></activity>
        <activity android:name=".myactivity.MyCaptureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>


        <receiver android:name=".myreceiver.MyCustomReceiver"  android:exported="false" >
        <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <action android:name="com.avos.UPDATE_STATUS" />
        <action android:name="com.lys.receiver"/>
        </intent-filter>
        </receiver>
    </application>

</manifest>